@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans&display=swap');

body{
    background-color: black;
    font-family: 'Alegreya Sans', sans-serif;
}

.topText{
    font-family: 'Alegreya Sans', sans-serif;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background-color: #712B7C;
    margin-top: 10px;
    margin-left: -10px;
    padding-bottom: 3px;
    padding-right: 4px;
}

.popularText{
    font-family: 'Anaheim', sans-serif;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
}

@media screen and (max-width: 766px){
    .topText{
        font-size: 20px;
        margin-top: 0px;
        margin-left: 0px;
    }}
     

.titleLogo{
    width: 25%; 
    margin-bottom: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.modalText,.modalTitle{
    font-size: 18px;
    color:#FFDC74;
    text-align: left;
}

.modalTitle{
    font-size: 35px;
   font-weight: bold;
}

.modal-header,.modal-body,.modal-footer{
    background-color: rgba(0, 0, 0)

}

.modal-content{
    border:white 6px solid;
  }

  button{
      border:0px;}

      .card-deck{
          margin-left: 0px;
          margin-top: 30px;
    }

    .card{
        background: none ;
        border:white 2px solid;
    }

    .carousel-inner{
        border:white 2px solid;
    }

    .btn {
        background-color: #712B7C;
        color: #FFDC74;
        border-color: #712B7C;
    }
    
    .btn:hover {
        background-color: #787B7C;
        color: black;
        border-color: #787B7C;
    }
    
    .btn-primary {
        background-color: #712B7C;
        color: #FFDC74;
        border-color: #712B7C;
        border-radius: 5px
    }
    
    .btn-primary:hover {
        background-color: #787B7C;
        color: black;
        border-color: #787B7C;
    }
    
    footer#footer {
        margin-top: 20px;
    }
    
    div.footer-text {
        text-align: center;
        margin-top: 30px;
    }

    .yellow {
        color: #FFDC74 !important;
    }

    hr {
        border: 0;
        height: 0;
        box-shadow: 0 1.5px 1.5px 1.5px;
        color: #ffffff;
    }