@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anaheim&display=swap');

body {

  color: #333;
  background-color: black;

}

header h4,
.startTextRelease,
.startTextChrono {
  text-align: center;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: -20px;
}


header p {
  text-align: center;
  margin-bottom: 0;
}

.hexa {
  border: 0px;
  float: left;
  text-align: center;
  height: 35px;
  width: 60px;
  font-size: 22px;
  background: #f0f0f0;
  color: #3c3c3c;
  position: relative;
  margin-top: 15px;
}

.hexa:before {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 15px solid #f0f0f0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  top: -15px;
}

.hexa:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 15px solid #f0f0f0;
  bottom: -15px;
}

.timeline {
  position: relative;
  padding: 0;
  width: 100%;
  margin-top: 20px;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  background: grey;
  background: -moz-linear-gradient(top, rgba(83, 80, 80, 0.301) 2%, rgb(255, 255, 255) 35%, rgba(213, 213, 213, 0) 100%);
  background: -webkit-linear-gradient(top, rgba(83, 80, 80, 0.301) 2%, rgb(255, 255, 255) 35%, rgba(213, 213, 213, 0) 100%);
  background: -o-linear-gradient(top, rgba(83, 80, 80, 0.301) 2%, rgb(255, 255, 255) 35%, rgba(213, 213, 213, 0) 100%);
  background: -ms-linear-gradient(top, rgba(83, 80, 80, 0.301) 2%, rgb(255, 255, 255) 35%, rgba(213, 213, 213, 0) 100%);
  background: linear-gradient(to bottom, rgba(213, 213, 213, 0) 0%, rgb(255, 255, 255) 35%, rgba(213, 213, 213, 0) 100%);
  z-index: 5;
}



.timeline li {
  padding: 2em 0;
}

.timeline .hexa {
  width: 16px;
  height: 10px;
  position: absolute;
  background: grey;
  z-index: 5;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: -30px;
  margin-top: 0;
}

.timeline .hexa:before {
  border-bottom: 4px solid grey;
  border-left-width: 8px;
  border-right-width: 8px;
  top: -4px;
}

.timeline .hexa:after {
  border-left-width: 8px;
  border-right-width: 8px;
  border-top: 4px solid grey;
  bottom: -4px;
}

.direction-r {
  float: none;
  width: 100%;
  text-align: center;
}

.flag-wrapper {
  text-align: center;
  position: relative;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(255, 255, 255);
  font-weight: 600;
  z-index: 15;
  padding: 6px 10px;
  text-align: left;
  border-radius: 5px;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -15px;
  height: 0;
  width: 0;
  margin-left: -8px;
  border: solid transparent;
  border-bottom-color: rgb(255, 255, 255);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.time-wrapper {
  display: block;
  position: relative;
  margin: 4px 0 0 0;
  z-index: 14;
  line-height: 1em;
  color: #fff;
}

.direction-r .time-wrapper {
  float: none;
}

.time {
  background: grey;
  display: inline-block;
  padding: 8px;
}

.desc {
  position: relative;
  padding: 1em;
  z-index: 15;
}

.direction-r .desc {
  position: relative;
  margin: 1em 1em 0 1em;
  padding: 1em;
  z-index: 15;
}

@media(min-width: 2560px) {
  .timeline {
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  .timeline .hexa {
    left: -28px;
    right: auto;
    top: 8px;
  }

  .direction-r {
    position: relative;
    width: 310px;
    float: right;
    text-align: left;
  }

  .flag-wrapper {
    display: inline-block;
  }

  .flag {
    font-size: 18px;
  }

  .direction-r .flag:after {
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(254, 254, 254);
    border-width: 8px;
    left: -8px;
  }

  .time-wrapper {
    display: inline;
    vertical-align: middle;
    margin: 0;
  }

  .direction-r .time-wrapper {
    float: right;
  }

  .time {
    padding: 5px 10px;
  }

  .direction-r .desc {
    margin: 1em 0 0 0.75em;
  }
}

@media(min-width: 2560px) {
  .timeline {
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .direction-l {
    position: relative;
    width: 380px;
    float: left;
    text-align: right;
  }

  .direction-r {
    position: relative;
    width: 380px;
    float: right;
    text-align: left;
  }
}




/* TIME LINE CSS */
.circle {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  border: 10px outset grey;
  margin-top: 4px;
}

.logoMovie {
  max-width: 200px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.startTextChrono,
.startTextRelease.chronoTitle {
  text-align: center;
  color: #FFDC74;
}


.chronoTitle,
.releaseTitle {
  color: #FFDC74;
  font-size: 40px;
  font-family: 'Alegreya Sans', sans-serif;
  text-align: center;

}

.startTextRelease,
.releaseTitle {
  color: #F6C1FF;
}

/* MODAL TIME LINE CSS */

.modalTimeLineTitle,
.modalTImeLineText {
  font-size: 30px;
  margin: 5px;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: bold;
}

.modalTImeLineText {
  font-size: 18px;
  text-align: left;
  font-weight: normal;
}

.modalTimeLineImg {
  width: auto;
  height: 60vh;
}



body {
  font-weight: bold;
  background-color: #000000;
  font-family: 'Anaheim', sans-serif;
}

#nav-menu {
  background-color: #000000 !important;
  font-size: 30px;
}

.logo-nav {
  width: auto;
  height: 10vh;
  margin-right: 20px;
}

.logo-request {
  width: auto;
  height: 20vh;
}

hr {
  border: 0;
  height: 0;
  box-shadow: 0 1.5px 1.5px 1.5px;
  color: #ffffff;
}

.yellow {
  color: #FFDC74 !important;
}

.title-request {
  font-size: 50px;
}

.request-box {
  background-color: rgba(255, 255, 255, .2);
  padding: 20px;
  border-radius: 5px
}

.btn {
  background-color: #712B7C;
  color: #FFDC74;
  border-color: #712B7C;
}

.btn:hover {
  background-color: #787B7C;
  color: black;
  border-color: #787B7C;
}

.btn-primary {
  background-color: #712B7C;
  color: #FFDC74;
  border-color: #712B7C;
  border-radius: 5px
}

.btn-primary:hover {
  background-color: #787B7C;
  color: black;
  border-color: #787B7C;
}

footer#footer {
  margin-top: 20px;
}

div.footer-text {
  text-align: center;
  margin-top: 30px;
}
.colorNav {
  background-color: rgba(255, 255, 255, .2) !important;
}